<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stripcode.mybatis.sf.dao.SFBudGetMapper">
    <select id="selectBudgetCost" resultType="com.stripcode.mybatis.sf.model.SFBudGetCost" parameterType="java.lang.String">
       SELECT
                T.NUM,
                T.COST_CLS,
                T.BUDGET_TYPE,
                T.ITEM_CODE,
                T.IS_EDIT,
                D.COST estCost,
                D.ITEM_NAME otherName,
                T.ITEM_NAME,
                B.BUDGET_COST
        FROM T_SYS_COST_ITEM T
                LEFT JOIN (
                SELECT T2.* FROM T_SF_PROJECT_ESTIMATION T1
                INNER JOIN T_SF_PROJECT_ESTIMATION_COST T2
                ON T1.ROW_Id = T2.EST_ID
                WHERE T1.PP_ID = #{ppId}
                )D
                ON T.ITEM_CODE = D.ITEM_CODE
                LEFT JOIN (
        SELECT T2.*,T1.PP_ID FROM T_SF_BUDGET T1
        INNER JOIN T_SF_BUDGET_COST T2
        ON T1.ROW_Id = T2.BUDGET_ID
        WHERE T1.PP_ID = #{ppId}) B ON B.ITEM_CODE = T.ITEM_CODE
                WHERE T.BUDGET_TYPE = 'M0332'
                ORDER BY T.SORT_NO
    </select>

    <insert id="insertBudgetCost" parameterType="com.stripcode.mybatis.sf.model.SFBudGetCost">
        INSERT INTO
        T_SF_BUDGET_COST
            (
            ROW_ID,
            BUDGET_ID,
            ITEM_CODE,
            EST_COST,
            BUDGET_COST,
            CREATOR,
            CREATE_TIME,
            UPDATER,
            UPDATE_TIME,
            DEL_FLAG
            )
        VALUES (
            #{rowId},
            #{budgetId},
            #{itemCode},
            #{estCost},
            #{budgetCost},
            #{creator},
            sysdate(),
            #{updater},
            sysdate(),
            'M0015'
        )
    </insert>
    <update id="updateBudgetCost"   parameterType="com.stripcode.mybatis.sf.model.SFBudGetCost">
        UPDATE
            T_SF_BUDGET_COST T
        SET
            T.BUDGET_COST = #{budgetCost},
            T.UPDATER = #{updater},
            T.UPDATE_TIME = sysdate()
        WHERE T.ITEM_CODE = #{itemCode} AND T.BUDGET_ID =#{budgetId} AND T.DEL_FLAG = 'M0015'
    </update>
    <select id="isExistsBudgetCost"  resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT
        COUNT(0)
        FROM
            T_SF_BUDGET_COST T
        WHERE  T.ITEM_CODE = #{itemCode} AND T.BUDGET_ID =#{budgetId} AND T.DEL_FLAG = 'M0015'
    </select>

    <select id="selectBudget" resultType="com.stripcode.mybatis.sf.model.SFBudGet" parameterType="java.lang.String">
        SELECT
            T.ROW_ID,
            T.PP_ID,
            T.RMD_COMPANY,
            T.CONS_UNIT,
            T.AUTH_COST,
            T.IS_EXCEEDED,
            T.EXCESS_COST_PCT,
            T.PRO_MGR,
            T.PRO_MGR_CONTACT,
            T.BEGIN_DATE,
            T.END_DATE
        FROM
            T_SF_BUDGET T
        WHERE
              T.PP_ID =#{ppId}
        AND T.DEL_FLAG = 'M0015'
    </select>

    <insert id="insertBudget" parameterType="com.stripcode.mybatis.sf.model.SFBudGet">
        INSERT INTO
            T_SF_BUDGET
            (
            ROW_ID,
            PP_ID,
            RMD_COMPANY,
            CONS_UNIT,
            AUTH_COST,
            IS_EXCEEDED,
            EXCESS_COST_PCT,
            PRO_MGR,
            PRO_MGR_CONTACT,
            BEGIN_DATE,
            END_DATE,
            CREATOR,
            CREATE_TIME,
            UPDATER,
            UPDATE_TIME,
            DEL_FLAG
            )
        VALUES (
            #{rowId},
            #{ppId},
            #{rmdCompany},
            #{consUnit},
            #{authCost},
            #{isExceeded},
            #{excessCostPct},
            #{proMgr},
            #{proMgrContact},
            #{beginDate},
            #{endDate},
            #{creator},
            sysdate(),
            #{updater},
            sysdate(),
            'M0015'
        )
    </insert>
    <update id="updateBudget"   parameterType="com.stripcode.mybatis.sf.model.SFBudGet">
        UPDATE
             T_SF_BUDGET T
        SET
            T.RMD_COMPANY = #{rmdCompany},
            T.CONS_UNIT = #{consUnit},
            T.AUTH_COST = #{authCost},
            T.IS_EXCEEDED = #{isExceeded},
            T.EXCESS_COST_PCT = #{excessCostPct},
            T.PRO_MGR = #{proMgr},
            T.PRO_MGR_CONTACT = #{proMgrContact},
            T.BEGIN_DATE = #{beginDate},
            T.END_DATE = #{endDate},
            T.UPDATER = #{updater},
            T.UPDATE_TIME = sysdate()
        WHERE T.PP_ID = #{ppId}  AND T.DEL_FLAG = 'M0015'
    </update>
    <select id="isExistsBudget"  resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT
            COUNT(0)
        FROM
            T_SF_BUDGET T
        WHERE  T.PP_ID = #{ppId} AND T.ROW_ID=#{rowId} AND T.DEL_FLAG = 'M0015'
    </select>

    <select id="selectBudgetConsUnit" resultType="com.stripcode.mybatis.sf.model.SFBudGetConsUnit" parameterType="java.lang.String">
        SELECT
            T.ROW_ID,
            T.CONS_UNIT,
            T.IS_COOPERATION,
            T.ASSESSMENT,
            T.REPORT_COST,
            T.CONTACTS,
            T.PHONE,
            T.REMARK
        FROM
            T_SF_BUDGET_CONS_UNIT T
        WHERE
            T.BUDGET_ID=(SELECT T1.ROW_ID FROM T_SF_BUDGET T1 WHERE T1.PP_ID=#{ppId} )
        AND T.DEL_FLAG = 'M0015'
    </select>

    <insert id="insertBudgetConsUnit" parameterType="com.stripcode.mybatis.sf.model.SFBudGetConsUnit">
        INSERT INTO
        T_SF_BUDGET_CONS_UNIT
        (
            ROW_ID,
            BUDGET_ID,
            CONS_UNIT,
            IS_COOPERATION,
            ASSESSMENT,
            REPORT_COST,
            CONTACTS,
            PHONE,
            REMARK,
            CREATOR,
            CREATE_TIME,
            UPDATER,
            UPDATE_TIME,
            DEL_FLAG
        )
        VALUES (
            #{rowId},
            #{budgetId},
            #{consUnit},
            #{isCooperation},
            #{assessment},
            #{reportCost},
            #{contacts},
            #{phone},
            #{remark},
            #{creator},
            sysdate(),
            #{updater},
             sysdate(),
            'M0015'
        )
    </insert>
    <update id="updateBudgetConsUnit"   parameterType="com.stripcode.mybatis.sf.model.SFBudGetConsUnit">
        UPDATE
            T_SF_BUDGET_CONS_UNIT T
        SET
            T.CONS_UNIT = #{consUnit},
            T.IS_COOPERATION = #{isCooperation},
            T.ASSESSMENT = #{assessment},
            T.REPORT_COST = #{reportCost},
            T.CONTACTS = #{contacts},
            T.PHONE = #{phone},
            T.REMARK = #{remark},
            T.UPDATER = #{updater},
            T.UPDATE_TIME = sysdate()
        WHERE T.ROW_ID = #{rowId} AND T.BUDGET_ID=#{budgetId}  AND T.DEL_FLAG = 'M0015'
    </update>
    <select id="isExistsBudgetConsUnit"  resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT
            COUNT(0)
        FROM
            T_SF_BUDGET_CONS_UNIT T
        WHERE  T.ROW_ID = #{rowId} AND T.BUDGET_ID =#{budgetId}  AND T.DEL_FLAG = 'M0015'
    </select>

    <select id="selectPipeline" resultType="com.stripcode.mybatis.cs.model.CSSfPipeline" parameterType="java.lang.String">
        SELECT
            T.OPERATING_AREA,
            T.RENT_AREA,
            T.BACK_DEPOT_AREA,
            T3.PP_CODE,
            T1.CN_SITENAME,
            T2.MACRO_NAME channelType
        FROM
        T_SF_SITEINFO T
        LEFT JOIN T_SF_PIPELINE T1 ON T.PP_ID=T1.PP_ID AND T1.DEL_FLAG = 'M0015'
        LEFT JOIN T_SF_APPLY_PIPELINE_CODE T3 ON T1.PP_ID=T3.PP_ID AND T3.DEL_FLAG = 'M0015'
        LEFT JOIN T_CODE_MACRO_DEFINE T2 ON T2.MACRO_CODE=T1.CHANNEL_TYPE AND T2.DEL_FLAG = 'M0015'
        WHERE
        T.PP_ID=#{ppId}
        AND T.DEL_FLAG = 'M0015'
    </select>

    <!--删除施工单位-->
    <update id="delBudgetConsUnit" parameterType="map">
        UPDATE T_SF_BUDGET_CONS_UNIT
        SET DEL_FLAG = 'M0014'
        <where>
            <if test='isBudGetNull!=0'>
                ROW_ID NOT IN
                <foreach collection="rowId" item="item" index="index"
                         open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            AND BUDGET_ID = #{budgetId}
        </where>
    </update>
</mapper>