<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stripcode.mybatis.sf.dao.SFConsPreSurveyReportMapper" >
  <insert id="insertReport" parameterType="com.stripcode.mybatis.sf.model.SFConsPreSurveyReport">
    INSERT INTO T_SF_CONS_PRE_SURVEY_REPORT(
      ROW_ID, 
      PP_ID, 
      DIRECTOR, 
      SURVEY_DATE, 
      IS_COMPETITOR, 
      IS_ACCEPTANCE, 
      IS_HIGHRISK, 
      IS_ENVIRONMENT, 
      IS_TOLIET, 
      INCOME_MODE, 
      IS_BASEMENT, 
      PROPERTY_FORM, 
      STRUCTURE_TYPE, 
      IS_NEED_STRUCTURE_IMPROVEMENT, 
      STRUCTURE_IMPROVEMENT_ITEM, 
      IS_REFORM, 
      IS_REINFORCE, 
      SITE_MEASURE, 
      IS_BLUEPRINT_COPY, 
      IS_UTILITY_DRAWING, 
      OUTER_WALL, 
      INTERIOR_WALL, 
      GROUND, 
      CEILING, 
      EQUIPMENT_DEAL, 
      BUILDING_DESCRIPTION, 
      IS_EXTERNAL_LIGHTING, 
      MATERIAL, 
      IS_POWER_SUPPLY, 
      CABLE_LAYING, 
      IS_WATER_SUPPLY, 
      IS_DRAINAGE, 
      SUMMER_OUTDOOR_TEMP, 
      WINTER_OUTDOOR_TEMP, 
      AIR_CONDITION_SUPPLY, 
      AIR_CONDITION_MODE, 
      IS_RADIATING, 
      FAN_HEAT_EFFECT, 
      IS_DEPARTMENT_CONFIRM, 
      SIGN_VISIBILITY_LEFT, 
      SIGN_VISIBILITY_RIGHT, 
      INDEPENDENT_INDEX_SIGN, 
      NOISE_EFFECT, 
      IS_ENVIRONMENTAL_PERMITS, 
      IS_FIRE_ALARM,
      CREATOR,
      CREATE_TIME,
      UPDATER,
      UPDATE_TIME,
      DEL_FLAG
    )VALUES (
      #{rowId},
      #{ppId},
      #{director},
      #{surveyDate},
      #{isCompetitor},
      #{isAcceptance},
      #{isHighrisk},
      #{isEnvironment},
      #{isToliet},
      #{incomeMode},
      #{isBasement},
      #{propertyForm},
      #{structureType},
      #{isNeedStructureImprovement},
      #{structureImprovementItem},
      #{isReform},
      #{isReinforce},
      #{siteMeasure},
      #{isBlueprintCopy},
      #{isUtilityDrawing},
      #{outerWall},
      #{interiorWall},
      #{ground},
      #{ceiling},
      #{equipmentDeal},
      #{buildingDescription},
      #{isExternalLighting},
      #{material},
      #{isPowerSupply},
      #{cableLaying},
      #{isWaterSupply},
      #{isDrainage},
      #{summerOutdoorTemp},
      #{winterOutdoorTemp},
      #{airConditionSupply},
      #{airConditionMode},
      #{isRadiating},
      #{fanHeatEffect},
      #{isDepartmentConfirm},
      #{signVisibilityLeft},
      #{signVisibilityRight},
      #{independentIndexSign},
      #{noiseEffect},
      #{isEnvironmentalPermits},
      #{isFireAlarm},
      #{creator},
      sysdate(),
      #{updater},
      sysdate(),
      'M0015'
    )
  </insert>

  <update id="updateReport" parameterType="com.stripcode.mybatis.sf.model.SFConsPreSurveyReport">
    UPDATE T_SF_CONS_PRE_SURVEY_REPORT
    SET DIRECTOR = #{director},
      SURVEY_DATE = #{surveyDate},
      IS_COMPETITOR = #{isCompetitor},
      IS_ACCEPTANCE = #{isAcceptance},
      IS_HIGHRISK = #{isHighrisk},
      IS_ENVIRONMENT = #{isEnvironment},
      IS_TOLIET = #{isToliet},
      INCOME_MODE =#{incomeMode},
      IS_BASEMENT = #{isBasement},
      PROPERTY_FORM = #{propertyForm},
      STRUCTURE_TYPE = #{structureType},
      IS_NEED_STRUCTURE_IMPROVEMENT = #{isNeedStructureImprovement},
      STRUCTURE_IMPROVEMENT_ITEM = #{structureImprovementItem},
      IS_REFORM = #{isReform},
      IS_REINFORCE = #{isReinforce},
      SITE_MEASURE = #{siteMeasure},
      IS_BLUEPRINT_COPY = #{isBlueprintCopy},
      IS_UTILITY_DRAWING = #{isUtilityDrawing},
      OUTER_WALL = #{outerWall},
      INTERIOR_WALL = #{interiorWall},
      GROUND = #{ground},
      CEILING = #{ceiling},
      EQUIPMENT_DEAL= #{equipmentDeal},
      BUILDING_DESCRIPTION = #{buildingDescription},
      IS_EXTERNAL_LIGHTING = #{isExternalLighting},
      MATERIAL = #{material},
      IS_POWER_SUPPLY = #{isPowerSupply},
      CABLE_LAYING = #{cableLaying},
      IS_WATER_SUPPLY = #{isWaterSupply},
      IS_DRAINAGE = #{isDrainage},
      SUMMER_OUTDOOR_TEMP = #{summerOutdoorTemp},
      WINTER_OUTDOOR_TEMP = #{winterOutdoorTemp},
      AIR_CONDITION_SUPPLY = #{airConditionSupply},
      AIR_CONDITION_MODE = #{airConditionMode},
      IS_RADIATING = #{isRadiating},
      FAN_HEAT_EFFECT = #{fanHeatEffect},
      IS_DEPARTMENT_CONFIRM = #{isDepartmentConfirm},
      SIGN_VISIBILITY_LEFT = #{signVisibilityLeft},
      SIGN_VISIBILITY_RIGHT = #{signVisibilityRight},
      INDEPENDENT_INDEX_SIGN = #{independentIndexSign},
      NOISE_EFFECT = #{noiseEffect},
      IS_ENVIRONMENTAL_PERMITS = #{isEnvironmentalPermits},
      IS_FIRE_ALARM = #{isFireAlarm},
      UPDATER = #{updater},
      UPDATE_TIME = sysdate()
      WHERE ROW_ID = #{rowId} AND PP_ID = #{ppId}
  </update>

  <select id="queryReport" parameterType="java.lang.String" resultType="com.stripcode.mybatis.sf.model.SFConsPreSurveyReport">
    SELECT
    ROW_ID,
      PP_ID,
      DIRECTOR,
      SURVEY_DATE,
      IS_COMPETITOR,
      IS_ACCEPTANCE,
      IS_HIGHRISK,
      IS_ENVIRONMENT,
      IS_TOLIET,
      INCOME_MODE,
      IS_BASEMENT,
      PROPERTY_FORM,
      STRUCTURE_TYPE,
      IS_NEED_STRUCTURE_IMPROVEMENT,
      STRUCTURE_IMPROVEMENT_ITEM,
      IS_REFORM,
      IS_REINFORCE,
      SITE_MEASURE,
      IS_BLUEPRINT_COPY,
      IS_UTILITY_DRAWING,
      OUTER_WALL,
      INTERIOR_WALL,
      GROUND,
      CEILING,
      EQUIPMENT_DEAL,
      BUILDING_DESCRIPTION,
      IS_EXTERNAL_LIGHTING,
      MATERIAL,
      IS_POWER_SUPPLY,
      CABLE_LAYING,
      IS_WATER_SUPPLY,
      IS_DRAINAGE,
      SUMMER_OUTDOOR_TEMP,
      WINTER_OUTDOOR_TEMP,
      AIR_CONDITION_SUPPLY,
      AIR_CONDITION_MODE,
      IS_RADIATING,
      FAN_HEAT_EFFECT,
      IS_DEPARTMENT_CONFIRM,
      SIGN_VISIBILITY_LEFT,
      SIGN_VISIBILITY_RIGHT,
      INDEPENDENT_INDEX_SIGN,
      NOISE_EFFECT,
      IS_ENVIRONMENTAL_PERMITS,
      IS_FIRE_ALARM
      FROM T_SF_CONS_PRE_SURVEY_REPORT
      WHERE PP_ID = #{ppId}
  </select>
</mapper>