<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stripcode.mybatis.sf.dao.SfEstInvestmentOtherCostRateDiretStoreMapper" >
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_sf_est_investment_other_cost_rate_diret_store
    where AUTO_NO = #{autoNo}
  </delete>
  <insert id="insert" parameterType="com.stripcode.mybatis.sf.model.SfEstInvestmentOtherCostRateDiretStore" >
   INSERT INTO t_sf_est_investment_other_cost_rate_diret_store (
    AUTO_NO,
    ROW_ID,
    INVESTMENT_ID,
    WRAPPAGE_FEE_RATE,
    ACCESSORIES_FEE_RATE,
    PROMOTION_FEE_RATE,
    EX_LABOR_FEE_RATE,
    CLOTHES_MAKEUP_FEE_RATE,
    MAINTENANCE_FEE_RATE,
    DATA_TRAFFICE_FEE_RATE,
    OFFICE_FEE_RATE,
    POS_PROCEDURES_FEE_RATE,
    GOODS_SURPLUS_FEE_RATE,
    TRAVE_FEE_RATE,
    BUSINESS_FEE_RATE,
    OTHER_CONTROL_FEE_RATE,
    PRE_OPEN_FEE_RATE,
    TRANSIT_FEE_RATE,
    LOGISTICS_FEE_RATE,
    LICENSE_FEE_RATE,
    AD_FEE_RATE,
    OTHER_SUNDRY_FEE_RATE,
    CLOSE_LOSE_FEE_RATE,
    CREATOR,
    CREATE_TIME,
    UPDATER,
    UPDATE_TIME,
    DEL_FLAG,
    DEF1,
    DEF2,
    DEF3,
    DEF4,
    DEF5,
    DEF6,
    DEF7,
    DEF8,
    DEF9,
    DEF10
    )
    VALUES
    (
    #{autoNo},
    #{rowId},
    #{investmentId},
    #{wrappageFeeRate},
    #{accessoriesFeeRate},
    #{promotionFeeRate},
    #{exLaborFeeRate},
    #{clothesMakeupFeeRate},
    #{maintenanceFeeRate},
    #{dataTrafficeFeeRate},
    #{officeFeeRate},
    #{posProceduresFeeRate},
    #{goodsSurplusFeeRate},
    #{traveFeeRate},
    #{businessFeeRate},
    #{otherControlFeeRate},
    #{preOpenFeeRate},
    #{transitFeeRate},
    #{logisticsFeeRate},
    #{licenseFeeRate},
    #{adFeeRate},
    #{otherSundryFeeRate},
    #{closeLoseFeeRate},
    #{creator},
    sysdate(),
    #{updater},
    sysdate(),
    #{delFlag},
    #{def1},
    #{def2},
    #{def3},
    #{def4},
    #{def5},
    #{def6},
    #{def7},
    #{def8},
    #{def9},
    #{def10}
    )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.stripcode.mybatis.sf.model.SfEstInvestmentOtherCostRateDiretStore" >
    UPDATE T_SF_EST_INVESTMENT_OTHER_COST_RATE_DIRET_STORE
    SET
      INVESTMENT_ID = #{investmentId},
      WRAPPAGE_FEE_RATE = #{wrappageFeeRate},
      ACCESSORIES_FEE_RATE = #{accessoriesFeeRate},
      PROMOTION_FEE_RATE = #{promotionFeeRate},
      EX_LABOR_FEE_RATE = #{exLaborFeeRate},
      CLOTHES_MAKEUP_FEE_RATE = #{clothesMakeupFeeRate},
      MAINTENANCE_FEE_RATE = #{maintenanceFeeRate},
      DATA_TRAFFICE_FEE_RATE = #{dataTrafficeFeeRate},
      OFFICE_FEE_RATE = #{officeFeeRate},
      POS_PROCEDURES_FEE_RATE = #{posProceduresFeeRate},
      GOODS_SURPLUS_FEE_RATE = #{goodsSurplusFeeRate},
      TRAVE_FEE_RATE = #{traveFeeRate},
      BUSINESS_FEE_RATE = #{businessFeeRate},
      OTHER_CONTROL_FEE_RATE = #{otherControlFeeRate},
      PRE_OPEN_FEE_RATE = #{preOpenFeeRate},
      TRANSIT_FEE_RATE = #{transitFeeRate},
      LOGISTICS_FEE_RATE = #{logisticsFeeRate},
      LICENSE_FEE_RATE = #{licenseFeeRate},
      AD_FEE_RATE = #{adFeeRate},
      OTHER_SUNDRY_FEE_RATE = #{otherSundryFeeRate},
      CLOSE_LOSE_FEE_RATE = #{closeLoseFeeRate},
      UPDATER = #{updater},
      UPDATE_TIME = sysdate(),
      DEL_FLAG = #{delFlag},
      DEF1 = #{def1},
      DEF2 = #{def2},
      DEF3 = #{def3},
      DEF4 = #{def4},
      DEF5 = #{def5},
      DEF6 = #{def6},
      DEF7 = #{def7},
      DEF8 = #{def8},
      DEF9 = #{def9},
      DEF10 = #{def10}
    WHERE ROW_ID = #{rowId}
  </update>
  <select id="selectByPrimaryKey" resultType="com.stripcode.mybatis.sf.model.SfEstInvestmentOtherCostRateDiretStore" parameterType="java.lang.String" >
    SELECT
        ROW_ID,
        INVESTMENT_ID,
        WRAPPAGE_FEE_RATE,
        ACCESSORIES_FEE_RATE,
        PROMOTION_FEE_RATE,
        EX_LABOR_FEE_RATE,
        CLOTHES_MAKEUP_FEE_RATE,
        MAINTENANCE_FEE_RATE,
        DATA_TRAFFICE_FEE_RATE,
        OFFICE_FEE_RATE,
        POS_PROCEDURES_FEE_RATE,
        GOODS_SURPLUS_FEE_RATE,
        TRAVE_FEE_RATE,
        BUSINESS_FEE_RATE,
        OTHER_CONTROL_FEE_RATE,
        PRE_OPEN_FEE_RATE,
        TRANSIT_FEE_RATE,
        LOGISTICS_FEE_RATE,
        LICENSE_FEE_RATE,
        AD_FEE_RATE,
        OTHER_SUNDRY_FEE_RATE,
        CLOSE_LOSE_FEE_RATE,
        CREATOR,
        CREATE_TIME,
        UPDATER,
        UPDATE_TIME,
        DEL_FLAG,
        DEF1,
        DEF2,
        DEF3,
        DEF4,
        DEF5,
        DEF6,
        DEF7,
        DEF8,
        DEF9,
        DEF10
    FROM
        T_SF_EST_INVESTMENT_OTHER_COST_RATE_DIRET_STORE
    where ROW_ID = #{rowId}
  </select>
  <select id="selectByInvestmentId" resultType="com.stripcode.mybatis.sf.model.SfEstInvestmentOtherCostRateDiretStore" parameterType="java.lang.String" >
    SELECT
       AUTO_NO,
        ROW_ID,
        INVESTMENT_ID,
        WRAPPAGE_FEE_RATE,
        ACCESSORIES_FEE_RATE,
        PROMOTION_FEE_RATE,
        EX_LABOR_FEE_RATE,
        CLOTHES_MAKEUP_FEE_RATE,
        MAINTENANCE_FEE_RATE,
        DATA_TRAFFICE_FEE_RATE,
        OFFICE_FEE_RATE,
        POS_PROCEDURES_FEE_RATE,
        GOODS_SURPLUS_FEE_RATE,
        TRAVE_FEE_RATE,
        BUSINESS_FEE_RATE,
        OTHER_CONTROL_FEE_RATE,
        PRE_OPEN_FEE_RATE,
        TRANSIT_FEE_RATE,
        LOGISTICS_FEE_RATE,
        LICENSE_FEE_RATE,
        AD_FEE_RATE,
        OTHER_SUNDRY_FEE_RATE,
        CLOSE_LOSE_FEE_RATE,
        CREATOR,
        CREATE_TIME,
        UPDATER,
        UPDATE_TIME,
        DEL_FLAG,
        DEF1,
        DEF2,
        DEF3,
        DEF4,
        DEF5,
        DEF6,
        DEF7,
        DEF8,
        DEF9,
        DEF10
    FROM
        T_SF_EST_INVESTMENT_OTHER_COST_RATE_DIRET_STORE
    where INVESTMENT_ID = #{investmentId}
  </select>
  <select id="selectAll" resultType="com.stripcode.mybatis.sf.model.SfEstInvestmentOtherCostRateDiretStore" >
  SELECT
      AUTO_NO,
        ROW_ID,
        INVESTMENT_ID,
        WRAPPAGE_FEE_RATE,
        ACCESSORIES_FEE_RATE,
        PROMOTION_FEE_RATE,
        EX_LABOR_FEE_RATE,
        CLOTHES_MAKEUP_FEE_RATE,
        MAINTENANCE_FEE_RATE,
        DATA_TRAFFICE_FEE_RATE,
        OFFICE_FEE_RATE,
        POS_PROCEDURES_FEE_RATE,
        GOODS_SURPLUS_FEE_RATE,
        TRAVE_FEE_RATE,
        BUSINESS_FEE_RATE,
        OTHER_CONTROL_FEE_RATE,
        PRE_OPEN_FEE_RATE,
        TRANSIT_FEE_RATE,
        LOGISTICS_FEE_RATE,
        LICENSE_FEE_RATE,
        AD_FEE_RATE,
        OTHER_SUNDRY_FEE_RATE,
        CLOSE_LOSE_FEE_RATE,
        CREATOR,
        CREATE_TIME,
        UPDATER,
        UPDATE_TIME,
        DEL_FLAG,
        DEF1,
        DEF2,
        DEF3,
        DEF4,
        DEF5,
        DEF6,
        DEF7,
        DEF8,
        DEF9,
        DEF10
      FROM
          T_SF_EST_INVESTMENT_OTHER_COST_RATE_DIRET_STORE
  </select>
    <update id="deleteByInvestmentId" parameterType="java.lang.String">
        UPDATE T_SF_EST_INVESTMENT_OTHER_COST_RATE_DIRET_STORE
        SET
        DEL_FLAG = 'M0014'
        WHERE INVESTMENT_ID = #{investmentId}
    </update>
</mapper>