<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stripcode.mybatis.sf.dao.SFTradezoneInfoMapper">
      <select id="queryTaInfo" parameterType="java.lang.String" resultType="com.stripcode.mybatis.sf.model.SFTradezoneInfo">
      SELECT
            T.ROW_ID,
            T.PP_ID,
            T.CITY, TA_ID,
            T.TA_NAME, TA_TYPE,
            T.TA_SIZE,
            T.INCOME_LEVEL,
            T.TA_PRIORITY,
            T.TA_DESIRABILITY,
            T.TA_MATURITY,
            T.OTHER_BRAND,
            T.COMMUNITY_NAME,
            T.STORE_NUM_500,
            T.STORE_NUM_1000,
            T.STORE_NUM_3000,
            T.STORE_TYPE,
            T.RE_RATING,
            T.IS_NEAR_ANT_LINE,
            T.OVERALL_VISIBILITY,
            T.OVERALL_ACCESSIBILITY,
            T.KEY_WORD1,
            T.KEY_WORD2,
            T.KEY_WORD3,
            T.INVESTMENT_TYPE,
            T.IS_STREET,
            T.Nat_Zone,
            T.IS_ALLIANCE,
            T.ALLIANCE_CODE,
            T.IS_BROKER,
            T.BROKER,
            T.HOME_POP_3500,
            T.HOME_POP_500,
            T.HOME_INCOME,
            T.HOME_SALES_PCT,
            T.WORK_POP_3500,
            T.WORK_POP_500,
            T.WORK_PROFILE,
            T.WORK_SALES_PCT,
            T.STUDENT_NO_1000,
            T.STUDENT_PROFILE,
            T.SCHOOL_SALES_PCT,
            T.SHOPPING_LEVEL,
            T.SHOPPINGMALL_NO,
            T.TOTAL_COMMERCIAL_SIZE,
            T.STREET_LENGTH,
            T.BUILDING_NATURE,
            T.BUILDING_OPEN_DATE,
            T.BUILDING_COMMERCIAL_SIZE,
            T.BUILDING_RETAIL_STRENGTH,
            T.BUILDING_ANCHOR1_NAME,
            T.BUILDING_ANCHOR1_SIZE,
            T.BUILDING_ANCHOR2_NAME,
            T.BUILDING_ANCHOR2_SIZE,
            T.SHOP_SALES_PCT,
            T.TRAFFIC_HUB_TYPE,
            T.TH_STORE_LOCATION,
            T.STORE_FLOOR,
            T.THROUGHPUT_YEAR,
            T.TH_CMP_LOCATION,
            T.TH_SALES_PCT,
            T.LEISURE_NATURE,
            T.LEISURE_SALES_PCT,
            T.OTHER_FACTOR,
            T.OTHER_SALES_PCT,
            T.HOME_REMARK,
            T.WORK_REMARK,
            T.SHOP_REMARK,
            T.SCHOOL_REMARK,
            T.TH_REMARK,
            T.LEISURE_REMARK,
            T.OTHER_REMARK,
            T.SUBWAY_LINES,
            T.DIST_FROM_CLOSEST_SUBWAY,
            T.VISIBILITY_FROM_SUBWAY,
            T.BUS_STOP_NO_100,
            T.BUS_LINE_NO_100,
            T.DIST_FROM_CLOSEST_BUS_STOP,
            T.COMPETITOR_NO,
            T.COMPETITOR_NAME_TOP3,
            T.MB_STORE_NO,
            T.MB_OPEN_IN_Y1,
            T.MB_AVG_SALES_YEAR,
            T.NEAREST_MB_AVG_SALES_YEAR,
            T.ATTACH_ID,
            T.DISTINCE_FROM_ANT_LINE
      FROM T_SF_TRADEZONE_INFO T
      WHERE T.PP_ID = #{ppId} AND T.DEL_FLAG = 'M0015'
  </select>

      <insert id="insertTaInfo" parameterType="com.stripcode.mybatis.sf.model.SFTradezoneInfo">
            INSERT INTO T_SF_TRADEZONE_INFO(
            ROW_ID,
            PP_ID,
            CITY,
            TA_ID,
            TA_NAME,
            TA_TYPE,
            TA_SIZE,
            INCOME_LEVEL,
            TA_PRIORITY,
            TA_DESIRABILITY,
            TA_MATURITY,
            OTHER_BRAND,
            COMMUNITY_NAME,
            STORE_NUM_500,
            STORE_NUM_1000,
            STORE_NUM_3000,
            STORE_TYPE,
            RE_RATING,
            IS_NEAR_ANT_LINE,
            OVERALL_VISIBILITY,
            OVERALL_ACCESSIBILITY,
            KEY_WORD1,
            KEY_WORD2,
            KEY_WORD3,
            INVESTMENT_TYPE,
            IS_STREET,
            Nat_Zone,
            IS_ALLIANCE,
            ALLIANCE_CODE,
            IS_BROKER,
            BROKER,
            HOME_POP_3500,
            HOME_POP_500,
            HOME_INCOME,
            HOME_SALES_PCT,
            WORK_POP_3500,
            WORK_POP_500,
            WORK_PROFILE,
            WORK_SALES_PCT,
            STUDENT_NO_1000,
            STUDENT_PROFILE,
            SCHOOL_SALES_PCT,
            SHOPPING_LEVEL,
            SHOPPINGMALL_NO,
            TOTAL_COMMERCIAL_SIZE,
            STREET_LENGTH,
            BUILDING_NATURE,
            BUILDING_OPEN_DATE,
            BUILDING_COMMERCIAL_SIZE,
            BUILDING_RETAIL_STRENGTH,
            BUILDING_ANCHOR1_NAME,
            BUILDING_ANCHOR1_SIZE,
            BUILDING_ANCHOR2_NAME,
            BUILDING_ANCHOR2_SIZE,
            SHOP_SALES_PCT,
            TRAFFIC_HUB_TYPE,
            TH_STORE_LOCATION,
            STORE_FLOOR,
            THROUGHPUT_YEAR,
            TH_CMP_LOCATION,
            TH_SALES_PCT,
            LEISURE_NATURE,
            LEISURE_SALES_PCT,
            OTHER_FACTOR,
            OTHER_SALES_PCT,
            HOME_REMARK,
            WORK_REMARK,
            SHOP_REMARK,
            SCHOOL_REMARK,
            TH_REMARK,
            LEISURE_REMARK,
            OTHER_REMARK,
            SUBWAY_LINES,
            DIST_FROM_CLOSEST_SUBWAY,
            VISIBILITY_FROM_SUBWAY,
            BUS_STOP_NO_100,
            BUS_LINE_NO_100,
            DIST_FROM_CLOSEST_BUS_STOP,
            COMPETITOR_NO,
            COMPETITOR_NAME_TOP3,
            MB_STORE_NO,
            MB_OPEN_IN_Y1,
            MB_AVG_SALES_YEAR,
            NEAREST_MB_AVG_SALES_YEAR,
            ATTACH_ID,
            DISTINCE_FROM_ANT_LINE,
            CREATOR,
            CREATE_TIME,
            UPDATER,
            UPDATE_TIME,
            DEL_FLAG
            )VALUES (
            #{rowId},
            #{ppId},
            #{city},
            #{taId},
            #{taName},
            #{taType},
            #{taSize},
            #{incomeLevel},
            #{taPriority},
            #{taDesirability},
            #{taMaturity},
            #{otherBrand},
            #{communityName},
            #{storeNum500},
            #{storeNum1000},
            #{storeNum3000},
            #{storeType},
            #{reRating},
            #{isNearAntLine},
            #{overallVisibility},
            #{overallAccessibility},
            #{keyWord1},
            #{keyWord2},
            #{keyWord3},
            #{investmentType},
            #{isStreet},
            #{natZone},
            #{isAlliance},
            #{allianceCode},
            #{isBroker},
            #{broker},
            #{homePop3500},
            #{homePop500},
            #{homeIncome},
            #{homeSalesPct},
            #{workPop3500},
            #{workPop500},
            #{workProfile},
            #{workSalesPct},
            #{studentNo1000},
            #{studentProfile},
            #{schoolSalesPct},
            #{shoppingLevel},
            #{shoppingmallNo},
            #{totalCommercialSize},
            #{streetLength},
            #{buildingNature},
            #{buildingOpenDate},
            #{buildingCommercialSize},
            #{buildingRetailStrength},
            #{buildingAnchor1Name},
            #{buildingAnchor1Size},
            #{buildingAnchor2Name},
            #{buildingAnchor2Size},
            #{shopSalesPct},
            #{trafficHubType},
            #{thStoreLocation},
            #{storeFloor},
            #{throughputYear},
            #{thCmpLocation},
            #{thSalesPct},
            #{leisureNature},
            #{leisureSalesPct},
            #{otherFactor},
            #{otherSalesPct},
            #{homeRemark},
            #{workRemark},
            #{shopRemark},
            #{schoolRemark},
            #{thRemark},
            #{leisureRemark},
            #{otherRemark},
            #{subwayLines},
            #{distFromClosestSubway},
            #{visibilityFromSubway},
            #{busStopNo100},
            #{busLineNo100},
            #{distFromClosestBusStop},
            #{competitorNo},
            #{competitorNameTop3},
            #{mbStoreNo},
            #{mbOpenInY1},
            #{mbAvgSalesYear},
            #{nearestMbAvgSalesYear},
            #{attachId},
            #{distinceFromAntLine},
            #{creator},
            sysdate(),
            #{updater},
            sysdate(),
            'M0015'
            )
      </insert>

      <update id="updateTaInfo" parameterType="com.stripcode.mybatis.sf.model.SFTradezoneInfo">
            UPDATE T_SF_TRADEZONE_INFO
            SET   CITY = #{city},
                  TA_ID = #{taId},
                  TA_NAME = #{taName},
                  TA_TYPE = #{taType},
                  TA_SIZE = #{taSize},
                  INCOME_LEVEL = #{incomeLevel},
                  TA_PRIORITY = #{taPriority},
                  TA_DESIRABILITY = #{taDesirability},
                  TA_MATURITY = #{taMaturity},
                  OTHER_BRAND = #{otherBrand},
                  COMMUNITY_NAME = #{communityName},
                  STORE_NUM_500 = #{storeNum500},
                  STORE_NUM_1000 = #{storeNum1000},
                  STORE_NUM_3000 = #{storeNum3000},
                  STORE_TYPE = #{storeType},
                  RE_RATING = #{reRating},
                  IS_NEAR_ANT_LINE = #{isNearAntLine},
                  OVERALL_VISIBILITY = #{overallVisibility},
                  OVERALL_ACCESSIBILITY = #{overallAccessibility},
                  KEY_WORD1 = #{keyWord1},
                  KEY_WORD2 = #{keyWord2},
                  KEY_WORD3 = #{keyWord3},
                  INVESTMENT_TYPE = #{investmentType},
                  IS_STREET = #{isStreet},
                  Nat_Zone = #{natZone},
                  IS_ALLIANCE = #{isAlliance},
                  ALLIANCE_CODE = #{allianceCode},
                  IS_BROKER = #{isBroker},
                  BROKER = #{broker},
                  HOME_POP_3500 = #{homePop3500},
                  HOME_POP_500 = #{homePop500},
                  HOME_INCOME = #{homeIncome},
                  HOME_SALES_PCT = #{homeSalesPct},
                  WORK_POP_3500 = #{workPop3500},
                  WORK_POP_500 = #{workPop500},
                  WORK_PROFILE = #{workProfile},
                  WORK_SALES_PCT = #{workSalesPct},
                  STUDENT_NO_1000 = #{studentNo1000},
                  STUDENT_PROFILE = #{studentProfile},
                  SCHOOL_SALES_PCT = #{schoolSalesPct},
                  SHOPPING_LEVEL = #{shoppingLevel},
                  SHOPPINGMALL_NO = #{shoppingmallNo},
                  TOTAL_COMMERCIAL_SIZE = #{totalCommercialSize},
                  STREET_LENGTH = #{streetLength},
                  BUILDING_NATURE = #{buildingNature},
                  BUILDING_OPEN_DATE = #{buildingOpenDate},
                  BUILDING_COMMERCIAL_SIZE = #{buildingCommercialSize},
                  BUILDING_RETAIL_STRENGTH = #{buildingRetailStrength},
                  BUILDING_ANCHOR1_NAME=#{buildingAnchor1Name},
                  BUILDING_ANCHOR1_SIZE=#{buildingAnchor1Size},
                  BUILDING_ANCHOR2_NAME=#{buildingAnchor2Name},
                  BUILDING_ANCHOR2_SIZE=#{buildingAnchor2Size},
                  SHOP_SALES_PCT = #{shopSalesPct},
                  TRAFFIC_HUB_TYPE = #{trafficHubType},
                  TH_STORE_LOCATION = #{thStoreLocation},
                  STORE_FLOOR = #{storeFloor},
                  THROUGHPUT_YEAR = #{throughputYear},
                  TH_CMP_LOCATION = #{thCmpLocation},
                  TH_SALES_PCT = #{thSalesPct},
                  LEISURE_NATURE = #{leisureNature},
                  LEISURE_SALES_PCT = #{leisureSalesPct},
                  OTHER_FACTOR = #{otherFactor},
                  OTHER_SALES_PCT = #{otherSalesPct},
                  HOME_REMARK = #{homeRemark},
                  WORK_REMARK = #{workRemark},
                  SHOP_REMARK = #{shopRemark},
                  SCHOOL_REMARK = #{schoolRemark},
                  TH_REMARK = #{thRemark},
                  LEISURE_REMARK = #{leisureRemark},
                  OTHER_REMARK = #{otherRemark},
                  SUBWAY_LINES = #{subwayLines},
                  DIST_FROM_CLOSEST_SUBWAY = #{distFromClosestSubway},
                  VISIBILITY_FROM_SUBWAY = #{visibilityFromSubway},
                  BUS_STOP_NO_100 = #{busStopNo100},
                  BUS_LINE_NO_100 = #{busLineNo100},
                  DIST_FROM_CLOSEST_BUS_STOP = #{distFromClosestBusStop},
                  COMPETITOR_NO = #{competitorNo},
                  COMPETITOR_NAME_TOP3 = #{competitorNameTop3},
                  MB_STORE_NO = #{mbStoreNo},
                  MB_OPEN_IN_Y1 = #{mbOpenInY1},
                  MB_AVG_SALES_YEAR = #{mbAvgSalesYear},
                  NEAREST_MB_AVG_SALES_YEAR = #{nearestMbAvgSalesYear},
                  ATTACH_ID = #{attachId},
                  DISTINCE_FROM_ANT_LINE=#{distinceFromAntLine},
                  UPDATER = #{updater},
                  UPDATE_TIME = sysdate()
              WHERE PP_ID=#{ppId} AND ROW_ID = #{rowId}
      </update>

      <select id="queryTradezoneCiuInfoAll" parameterType="java.lang.String" resultType="com.stripcode.mybatis.sf.model.SFTradezoneCiuInfo">
            SELECT
                  ROW_ID,
                  TRADEZONE_ID,
                  CIU_NAME,
                  OPEN_DATE,
                  DISTANCE,
                  SALES
            FROM T_SF_TRADEZONE_CIU_INFO
            WHERE TRADEZONE_ID = #{tradezoneId} AND DEL_FLAG = 'M0015'
      </select>

      <insert id="insertTradezoneCiuInfo" parameterType="com.stripcode.mybatis.sf.model.SFTradezoneCiuInfo">
            INSERT INTO T_SF_TRADEZONE_CIU_INFO(
                ROW_ID,
                TRADEZONE_ID,
                CIU_NAME,
                OPEN_DATE,
                DISTANCE,
                SALES,
                CREATOR,
                CREATE_TIME,
                UPDATER,
                UPDATE_TIME,
                DEL_FLAG
            )VALUES (
                #{rowId},
                #{tradezoneId},
                #{ciuName},
                #{openDate},
                #{distance},
                #{sales},
                #{creator},
                sysdate(),
                #{updater},
                #{updateTime},
                'M0015'
            )
      </insert>

      <update id="updateTradezoneCiuInfo" parameterType="com.stripcode.mybatis.sf.model.SFTradezoneCiuInfo">
            UPDATE T_SF_TRADEZONE_CIU_INFO
            SET CIU_NAME  =#{ciuName},
                OPEN_DATE = #{openDate},
                DISTANCE = #{distance},
                SALES = #{sales},
                UPDATER = #{updater},
                UPDATE_TIME = sysdate()
            WHERE ROW_ID = #{rowId} AND TRADEZONE_ID = #{tradezoneId} AND DEL_FLAG = 'M0015'
      </update>

      <select id="queryTradezoneStoreInfoAll" parameterType="java.lang.String" resultType="com.stripcode.mybatis.sf.model.SFTradezoneStoreInfo">
            SELECT
            ROW_ID,
            TRADEZONE_ID,
            STORE_NAME,
            OPEN_DATE,
            DISTANCE,
            SALES
            FROM T_SF_TRADEZONE_STORE_INFO
            WHERE TRADEZONE_ID = #{tradezoneId} AND DEL_FLAG = 'M0015'
      </select>

      <insert id="insertTradezoneStoreInfo" parameterType="com.stripcode.mybatis.sf.model.SFTradezoneStoreInfo">
            INSERT INTO T_SF_TRADEZONE_STORE_INFO(
            ROW_ID,
            TRADEZONE_ID,
            STORE_NAME,
            OPEN_DATE,
            DISTANCE,
            SALES,
            CREATOR,
            CREATE_TIME,
            UPDATER,
            UPDATE_TIME,
            DEL_FLAG
            )VALUES (
            #{rowId},
            #{tradezoneId},
            #{storeName},
            #{openDate},
            #{distance},
            #{sales},
            #{creator},
            sysdate(),
            #{updater},
            #{updateTime},
            'M0015'
            )
      </insert>

      <update id="updateTradezoneStoreInfo" parameterType="com.stripcode.mybatis.sf.model.SFTradezoneStoreInfo">
            UPDATE T_SF_TRADEZONE_STORE_INFO
            SET STORE_NAME  =#{storeName},
            OPEN_DATE = #{openDate},
            DISTANCE = #{distance},
            SALES = #{sales},
            UPDATER = #{updater},
            UPDATE_TIME = sysdate()
            WHERE ROW_ID = #{rowId} AND TRADEZONE_ID = #{tradezoneId} AND DEL_FLAG = 'M0015'
      </update>

      <update id="deleteStore" parameterType="map">
            UPDATE T_SF_TRADEZONE_STORE_INFO
            SET DEL_FLAG = 'M0014'
            <where>
                  <if test='isDelete!=0'>
                        ROW_ID NOT IN
                        <foreach collection="rowId" item="item" index="index"
                                 open="(" close=")" separator=",">
                              #{item}
                        </foreach>
                  </if>
                  AND TRADEZONE_ID = #{tradezoneId}
            </where>
      </update>

      <update id="deleteCiu" parameterType="map">
            UPDATE T_SF_TRADEZONE_CIU_INFO
            SET DEL_FLAG = 'M0014'
            <where>
                  <if test='isDelete!=0'>
                        ROW_ID NOT IN
                        <foreach collection="rowId" item="item" index="index"
                                 open="(" close=")" separator=",">
                              #{item}
                        </foreach>
                  </if>
                  AND TRADEZONE_ID = #{tradezoneId}
            </where>
      </update>
</mapper>