<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stripcode.mybatis.sf.dao.SFConsSurveyReportPropertyMapper">
  <insert id="insertProperty" parameterType="com.stripcode.mybatis.sf.model.TSfConsSurveyReportProperty">
    insert into t_sf_cons_survey_report_property (ROW_ID, PP_ID,
      PROPERTY_FORM, STRUCTURE_TYPE, PLAN_AREA, 
      PLAN_AREA_F1, PLAN_AREA_F2, STOREY_HIGH_F1, 
      STOREY_HIGH_F2, UG_LAYER, G_LAYER, 
      BUILDING_HIGHT, STRUCTURE_BEARING, BEARING_F1, 
      BEARING_F2, IS_BASEMENT, LOCATION, 
      BASE_REINFORCE, MOULD_REINFORCE, BEAM_REINFORCE, 
      FLOOR_PUNCH, STRUCTURE_REMOVAL, ADD_STAIRS, 
      ADD_ELEVATOR, SANDWICH_LAYER, OTHER, 
      IS_REFORM, IS_REINFORCE, DESCRIPTION, 
      BUILDING_PLAN, BUILDING_DRAWING, ELEC_PLAN, 
      ELEC_DRAWING, SITE_MEASURE, SITE_PLAN, 
      SITE_DRAWING, WIDTH_F1, DEPTH_F1, 
      WIDTH_F2, DEPTH_F2, BEAM_HEIGHT_F1, 
      BEAM_HEIGHT_F2, FLOORSLAB_HEIGHT_F1, FLOORSLAB_HEIGHT_F2, 
      IS_BLUEPRINT_COPY, IS_UTILITY_DRAWING, OUTER_WALL, 
      INTERIOR_WALL, GROUND, CEILING, 
      EQUIPMENT_DEAL, BUILDING_DESCRIPTION, IS_EXTERNAL_LIGHTING, 
      MATERIAL, CREATOR, CREATE_TIME, 
      UPDATER, UPDATE_TIME, DEL_FLAG
      )
    values (#{rowId}, #{ppId},
      #{propertyForm}, #{structureType}, #{planArea}, 
      #{planAreaF1}, #{planAreaF2}, #{storeyHighF1}, 
      #{storeyHighF2}, #{ugLayer}, #{glayer},
      #{buildingHight}, #{structureBearing}, #{bearingF1}, 
      #{bearingF2}, #{isBasement}, #{location}, 
      #{baseReinforce}, #{mouldReinforce}, #{beamReinforce}, 
      #{floorPunch}, #{structureRemoval}, #{addStairs}, 
      #{addElevator}, #{sandwichLayer}, #{other}, 
      #{isReform}, #{isReinforce}, #{description}, 
      #{buildingPlan}, #{buildingDrawing}, #{elecPlan}, 
      #{elecDrawing}, #{siteMeasure}, #{sitePlan}, 
      #{siteDrawing}, #{widthF1}, #{depthF1}, 
      #{widthF2}, #{depthF2}, #{beamHeightF1}, 
      #{beamHeightF2}, #{floorslabHeightF1}, #{floorslabHeightF2}, 
      #{isBlueprintCopy}, #{isUtilityDrawing}, #{outerWall}, 
      #{interiorWall}, #{ground}, #{ceiling}, 
      #{equipmentDeal}, #{buildingDescription}, #{isExternalLighting}, 
      #{material}, #{creator}, #{createTime}, 
      #{updater}, #{updateTime}, #{delFlag}
      )
  </insert>
  <update id="updateProperty" parameterType="com.stripcode.mybatis.sf.model.TSfConsSurveyReportProperty">
    update t_sf_cons_survey_report_property
    set
      PROPERTY_FORM = #{propertyForm},
      STRUCTURE_TYPE = #{structureType},
      PLAN_AREA = #{planArea},
      PLAN_AREA_F1 = #{planAreaF1},
      PLAN_AREA_F2 = #{planAreaF2},
      STOREY_HIGH_F1 = #{storeyHighF1},
      STOREY_HIGH_F2 = #{storeyHighF2},
      UG_LAYER = #{ugLayer},
      G_LAYER = #{glayer},
      BUILDING_HIGHT = #{buildingHight},
      STRUCTURE_BEARING = #{structureBearing},
      BEARING_F1 = #{bearingF1},
      BEARING_F2 = #{bearingF2},
      IS_BASEMENT = #{isBasement},
      LOCATION = #{location},
      BASE_REINFORCE = #{baseReinforce},
      MOULD_REINFORCE = #{mouldReinforce},
      BEAM_REINFORCE = #{beamReinforce},
      FLOOR_PUNCH = #{floorPunch},
      STRUCTURE_REMOVAL = #{structureRemoval},
      ADD_STAIRS = #{addStairs},
      ADD_ELEVATOR = #{addElevator},
      SANDWICH_LAYER = #{sandwichLayer},
      OTHER = #{other},
      IS_REFORM = #{isReform},
      IS_REINFORCE = #{isReinforce},
      DESCRIPTION = #{description},
      BUILDING_PLAN = #{buildingPlan},
      BUILDING_DRAWING = #{buildingDrawing},
      ELEC_PLAN = #{elecPlan},
      ELEC_DRAWING = #{elecDrawing},
      SITE_MEASURE = #{siteMeasure},
      SITE_PLAN = #{sitePlan},
      SITE_DRAWING = #{siteDrawing},
      WIDTH_F1 = #{widthF1},
      DEPTH_F1 = #{depthF1},
      WIDTH_F2 = #{widthF2},
      DEPTH_F2 = #{depthF2},
      BEAM_HEIGHT_F1 = #{beamHeightF1},
      BEAM_HEIGHT_F2 = #{beamHeightF2},
      FLOORSLAB_HEIGHT_F1 = #{floorslabHeightF1},
      FLOORSLAB_HEIGHT_F2 = #{floorslabHeightF2},
      IS_BLUEPRINT_COPY = #{isBlueprintCopy},
      IS_UTILITY_DRAWING = #{isUtilityDrawing},
      OUTER_WALL = #{outerWall},
      INTERIOR_WALL = #{interiorWall},
      GROUND = #{ground},
      CEILING = #{ceiling},
      EQUIPMENT_DEAL = #{equipmentDeal},
      BUILDING_DESCRIPTION = #{buildingDescription},
      IS_EXTERNAL_LIGHTING = #{isExternalLighting},
      MATERIAL = #{material},
      UPDATER = #{updater},
      UPDATE_TIME = #{updateTime}
    where PP_ID =#{ppId} AND ROW_ID = #{rowId} AND DEL_FLAG = 'M0015'
  </update>
  <select id="queryProperty" parameterType="java.lang.String" resultType="com.stripcode.mybatis.sf.model.TSfConsSurveyReportProperty">
    select ROW_ID, PP_ID, PROPERTY_FORM, STRUCTURE_TYPE, PLAN_AREA, PLAN_AREA_F1,
    PLAN_AREA_F2, STOREY_HIGH_F1, STOREY_HIGH_F2, UG_LAYER, G_LAYER, BUILDING_HIGHT, 
    STRUCTURE_BEARING, BEARING_F1, BEARING_F2, IS_BASEMENT, LOCATION, BASE_REINFORCE, 
    MOULD_REINFORCE, BEAM_REINFORCE, FLOOR_PUNCH, STRUCTURE_REMOVAL, ADD_STAIRS, ADD_ELEVATOR, 
    SANDWICH_LAYER, OTHER, IS_REFORM, IS_REINFORCE, DESCRIPTION, BUILDING_PLAN, BUILDING_DRAWING, 
    ELEC_PLAN, ELEC_DRAWING, SITE_MEASURE, SITE_PLAN, SITE_DRAWING, WIDTH_F1, DEPTH_F1, 
    WIDTH_F2, DEPTH_F2, BEAM_HEIGHT_F1, BEAM_HEIGHT_F2, FLOORSLAB_HEIGHT_F1, FLOORSLAB_HEIGHT_F2, 
    IS_BLUEPRINT_COPY, IS_UTILITY_DRAWING, OUTER_WALL, INTERIOR_WALL, GROUND, CEILING, 
    EQUIPMENT_DEAL, BUILDING_DESCRIPTION, IS_EXTERNAL_LIGHTING, MATERIAL
    from t_sf_cons_survey_report_property
    where PP_ID = #{ppId} AND DEL_FLAG ='M0015'
  </select>
</mapper>