<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stripcode.mybatis.ps.dao.PSPolicySupportApplyMapper">
    <select id="selectCheckId" parameterType="map" resultType="com.stripcode.mybatis.ps.model.PSPolicySupportApply">
        SELECT
            T.CHECK_ID,
            T.ORIGINATOR
        FROM T_PS_POLICY_SUPPORT_APPLY T
    </select>

    <select id="loadUser" parameterType="java.lang.String" resultType="com.stripcode.mybatis.user.model.RscSysUser">
        SELECT USER_ID,USER_NAME,LOGIN_NAME FROM T_SYS_USER WHERE USER_ID = #{userId}
    </select>
    <insert id="insertApply" parameterType="com.stripcode.mybatis.ps.model.PSPolicySupportApply" >
        INSERT INTO T_PS_POLICY_SUPPORT_APPLY
        (
        CHECK_ID,
        ORIGINATOR,
        CREATOR,
        CREATE_TIME,
        UPDATER,
        UPDATE_TIME,
        DEL_FLAG
        )
        VALUE
        (
        #{checkId},
        #{originator},
        #{creator},
        sysdate(),
        #{updater},
        sysdate(),
        'M0015'
        )
    </insert>
    <update id="updateSupport" parameterType="com.stripcode.mybatis.ps.model.PSPolicySupportApply" >
        UPDATE T_PS_POLICY_SUPPORT_APPLY
        SET
        ORIGINATOR =#{originator},
        UPDATER = #{updater},
        UPDATE_TIME = sysdate()
        WHERE CHECK_ID =#{checkId} AND DEL_FLAG='M0015'
    </update>
</mapper>