<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stripcode.mybatis.sf.dao.SFEstInvestmentRoiMapper">

    <select id="selectEstInvestmentRoiMapper" resultType="com.stripcode.mybatis.sf.model.SFEstInvestmentRoi" parameterType="java.lang.String">
        SELECT
            ROW_ID,
            INVESTMENT_ID,
            SALES_INCLUDE_TAX_Y1,
            SALES_INCLUDE_TAX_Y3,
            SALES_INCLUDE_TAX_Y5,
            TAX_ADJUSTMENT_EFT_Y1,
            TAX_ADJUSTMENT_EFT_Y3,
            TAX_ADJUSTMENT_EFT_Y5,
            GROSS_PROFIT_RADIO_Y1,
            GROSS_PROFIT_RADIO_Y3,
            GROSS_PROFIT_RADIO_Y5,
            COST_RADIO_Y1,
            COST_RADIO_Y3,
            COST_RADIO_Y5,
            TAX_RENT_PCT_Y1,
            TAX_RENT_PCT_Y3,
            TAX_RENT_PCT_Y5,
            CHECK_PROFIT_Y1,
            CHECK_PROFIT_Y3,
            CHECK_PROFIT_Y5,
            PRODUCTION_PROFIT_Y1,
            PRODUCTION_PROFIT_Y3,
            PRODUCTION_PROFIT_Y5,
            CASH_FLOW_Y1,
            CASH_FLOW_Y3,
            CASH_FLOW_Y5,
            RATE_OF_RETURN_Y1,
            RATE_OF_RETURN_Y3,
            RATE_OF_RETURN_Y5,
            PAYBACK_PERIOD_Y1,
            PAYBACK_PERIOD_Y3,
            PAYBACK_PERIOD_Y5,
            NET_PRESENT_VALUE_Y1,
            NET_PRESENT_VALUE_Y3,
            NET_PRESENT_VALUE_Y5,
            REMARK,
            CREATOR,
            CREATE_TIME,
            UPDATER,
            UPDATE_TIME,
            DEL_FLAG,
            DEF1,
            DEF2,
            DEF3,
            DEF4,
            DEF5,
            DEF6,
            DEF7,
            DEF8,
            DEF9,
            DEF10
        FROM
        T_SF_EST_INVESTMENT_ROI
        where INVESTMENT_ID = #{investmentId} AND DEL_FLAG = 'M0015' limit 1
    </select>

    <insert id="insertEstInvestmentRoiMapper" parameterType="com.stripcode.mybatis.sf.model.SFEstInvestmentRoi">
         INSERT INTO t_sf_est_investment_roi (
                AUTO_NO,
                ROW_ID,
                INVESTMENT_ID,
                SALES_INCLUDE_TAX_Y1,
                SALES_INCLUDE_TAX_Y3,
                SALES_INCLUDE_TAX_Y5,
                TAX_ADJUSTMENT_EFT_Y1,
                TAX_ADJUSTMENT_EFT_Y3,
                TAX_ADJUSTMENT_EFT_Y5,
                GROSS_PROFIT_RADIO_Y1,
                GROSS_PROFIT_RADIO_Y3,
                GROSS_PROFIT_RADIO_Y5,
                COST_RADIO_Y1,
                COST_RADIO_Y3,
                COST_RADIO_Y5,
                TAX_RENT_PCT_Y1,
                TAX_RENT_PCT_Y3,
                TAX_RENT_PCT_Y5,
                CHECK_PROFIT_Y1,
                CHECK_PROFIT_Y3,
                CHECK_PROFIT_Y5,
                PRODUCTION_PROFIT_Y1,
                PRODUCTION_PROFIT_Y3,
                PRODUCTION_PROFIT_Y5,
                CASH_FLOW_Y1,
                CASH_FLOW_Y3,
                CASH_FLOW_Y5,
                RATE_OF_RETURN_Y1,
                RATE_OF_RETURN_Y3,
                RATE_OF_RETURN_Y5,
                PAYBACK_PERIOD_Y1,
                PAYBACK_PERIOD_Y3,
                PAYBACK_PERIOD_Y5,
                NET_PRESENT_VALUE_Y1,
                NET_PRESENT_VALUE_Y3,
                NET_PRESENT_VALUE_Y5,
                REMARK,
                CREATOR,
                CREATE_TIME,
                UPDATER,
                UPDATE_TIME,
                DEL_FLAG,
                DEF1,
                DEF2,
                DEF3,
                DEF4,
                DEF5,
                DEF6,
                DEF7,
                DEF8,
                DEF9,
                DEF10
            )
            VALUES
                (
                    #{autoNo},
                    #{rowId},
                    #{investmentId},
                    #{salesIncludeTaxY1},
                    #{salesIncludeTaxY3},
                    #{salesIncludeTaxY5},
                    #{taxAdjustmentEftY1},
                    #{taxAdjustmentEftY3},
                    #{taxAdjustmentEftY5},
                    #{grossProfitRadioY1},
                    #{grossProfitRadioY3},
                    #{grossProfitRadioY5},
                    #{costRadioY1},
                    #{costRadioY3},
                    #{costRadioY5},
                    #{taxRentPctY1},
                    #{taxRentPctY3},
                    #{taxRentPctY5},
                    #{checkProfitY1},
                    #{checkProfitY3},
                    #{checkProfitY5},
                    #{productionProfitY1},
                    #{productionProfitY3},
                    #{productionProfitY5},
                    #{cashFlowY1},
                    #{cashFlowY3},
                    #{cashFlowY5},
                    #{rateOfReturnY1},
                    #{rateOfReturnY3},
                    #{rateOfReturnY5},
                    #{paybackPeriodY1},
                    #{paybackPeriodY3},
                    #{paybackPeriodY5},
                    #{netPresentValueY1},
                    #{netPresentValueY3},
                    #{netPresentValueY5},
                    #{remark}, #{creator},
                    sysdate(),
                    #{updater},
                    sysdate(),
                    #{delFlag},
                    #{def1},
                    #{def2},
                    #{def3},
                    #{def4},
                    #{def5},
                    #{def6},
                    #{def7},
                    #{def8},
                    #{def9},
                    #{def10}
                )
    </insert>

    <update id="updateEstInvestmentRoiMapper" parameterType="com.stripcode.mybatis.sf.model.SFEstInvestmentRoi">
          UPDATE T_SF_EST_INVESTMENT_ROI
            SET
              INVESTMENT_ID = #{investmentId},
              SALES_INCLUDE_TAX_Y1 = #{salesIncludeTaxY1},
              SALES_INCLUDE_TAX_Y3 = #{salesIncludeTaxY3},
              SALES_INCLUDE_TAX_Y5 = #{salesIncludeTaxY5},
              TAX_ADJUSTMENT_EFT_Y1 = #{taxAdjustmentEftY1},
              TAX_ADJUSTMENT_EFT_Y3 = #{taxAdjustmentEftY3},
              TAX_ADJUSTMENT_EFT_Y5 = #{taxAdjustmentEftY5},
              GROSS_PROFIT_RADIO_Y1 = #{grossProfitRadioY1},
              GROSS_PROFIT_RADIO_Y3 = #{grossProfitRadioY3},
              GROSS_PROFIT_RADIO_Y5 = #{grossProfitRadioY5},
              COST_RADIO_Y1 = #{costRadioY1},
              COST_RADIO_Y3 = #{costRadioY3},
              COST_RADIO_Y5 = #{costRadioY5},
              TAX_RENT_PCT_Y1 = #{taxRentPctY1},
              TAX_RENT_PCT_Y3 = #{taxRentPctY3},
              TAX_RENT_PCT_Y5 = #{taxRentPctY5},
              CHECK_PROFIT_Y1 = #{checkProfitY1},
              CHECK_PROFIT_Y3 = #{checkProfitY3},
              CHECK_PROFIT_Y5 = #{checkProfitY5},
              PRODUCTION_PROFIT_Y1 = #{productionProfitY1},
              PRODUCTION_PROFIT_Y3 = #{productionProfitY3},
              PRODUCTION_PROFIT_Y5 = #{productionProfitY5},
              CASH_FLOW_Y1 = #{cashFlowY1},
              CASH_FLOW_Y3 = #{cashFlowY3},
              CASH_FLOW_Y5 = #{cashFlowY5},
              RATE_OF_RETURN_Y1 = #{rateOfReturnY1},
              RATE_OF_RETURN_Y3 = #{rateOfReturnY3},
              RATE_OF_RETURN_Y5 = #{rateOfReturnY5},
              PAYBACK_PERIOD_Y1 = #{paybackPeriodY1},
              PAYBACK_PERIOD_Y3 = #{paybackPeriodY3},
              PAYBACK_PERIOD_Y5 = #{paybackPeriodY5},
              NET_PRESENT_VALUE_Y1 = #{netPresentValueY1},
              NET_PRESENT_VALUE_Y3 = #{netPresentValueY3},
              NET_PRESENT_VALUE_Y5 = #{netPresentValueY5},
              REMARK = #{remark},
              UPDATER = #{updater},
              UPDATE_TIME = sysdate(),
              DEL_FLAG = #{delFlag},
              DEF1 = #{def1},
              DEF2 = #{def2},
              DEF3 = #{def3},
              DEF4 = #{def4},
              DEF5 = #{def5},
              DEF6 = #{def6},
              DEF7 = #{def7},
              DEF8 = #{def8},
              DEF9 = #{def9},
              DEF10 = #{def10}
            WHERE ROW_ID = #{rowId}
    </update>
    <update id="deleteByInvestmentId" parameterType="java.lang.String">
        UPDATE T_SF_EST_INVESTMENT_ROI
        SET
        DEL_FLAG = 'M0014'
        WHERE INVESTMENT_ID = #{investmentId}
    </update>
</mapper>