<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stripcode.mybatis.sf.dao.TSfEstInvestmentNonLaborCostMapper" >
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_SF_EST_INVESTMENT_NON_LABOR_COST
    where ROW_ID = #{rowId}
  </delete>

  <insert id="insertInvestmentNonLaborCost" parameterType="com.stripcode.mybatis.sf.model.TSfEstInvestmentNonLaborCost" >
         INSERT INTO T_SF_EST_INVESTMENT_NON_LABOR_COST (
            AUTO_NO,
            ROW_ID,
            INVESTMENT_ID,
            STORE_INCOME_FIR,
            STORE_INCOME_SEC,
            STORE_INCOME_THI,
            STORE_INCOME_FOUR,
            STORE_INCOME_FIVE,
            RENT_TYPE,
            RENT_MONTH_PER_SQUARE,
            RENT_FIRST_YEAR,
            RENT_INC_RATE,
            DEDUCTION_POINT_FIR_YEAR,
            RENT_CONTRACT_TERM,
            DEDUCTION_POINT_CONTRACT_TERM,
            PROPERTY_FEE_MONTH,
            PROPERTY_FEE_YEAR,
            BOTH_TAKE_HIGHT,
            RENT_START_DATE,
            RENT_END_DATE,
            RENT_YEARS,
            OPEN_DATE,
            RENT_HALF_YEAR,
            LEASE_BOND,
            GOODS_BOND,
            RENOVATION_OTHER_FEE,
            MGR_ANNUAL_SALARY,
            SHOPPING_GUIDE_SALARY,
            SPECIAL_POSITION_SALARY,
            EST_STORE_DAILY_COST,
            JOIN_INVESTMENT_TOTAL,
            PROP_SUPORT_FEE,
            LOGISTICS_SUPORT_FEE,
            RENOVATION_SUPORT_FEE,
            MANAGE_SALARY_YEAR,
            OTHER_SUPORT_FEE,
            COMPANY_INVESTMENT_TOTAL,
            CREATOR,
            CREATE_TIME,
            UPDATER,
            UPDATE_TIME,
            DEL_FLAG,
            DEF1,
            DEF2,
            DEF3,
            DEF4,
            DEF5,
            DEF6,
            DEF7,
            DEF8,
            DEF9,
            DEF10
        )
        VALUES
	(
		#{autoNo},
		#{rowId},
		#{investmentId},
		#{storeIncomeFir},
		#{storeIncomeSec},
		#{storeIncomeThi},
		#{storeIncomeFour},
		#{storeIncomeFive},
		#{rentType},
		#{rentMonthPerSquare},
		#{rentFirstYear},
		#{rentIncRate},
		#{deductionPointFirYear},
		#{rentContractTerm},
		#{deductionPointContractTerm},
		#{propertyFeeMonth},
		#{propertyFeeYear},
		#{bothTakeHight},
		#{rentStartDate},
		#{rentEndDate},
		#{rentYears},
		#{openDate},
		#{rentHalfYear},
		#{leaseBond},
		#{goodsBond},
		#{renovationOtherFee},
		#{mgrAnnualSalary},
		#{shoppingGuideSalary},
		#{specialPositionSalary},
		#{estStoreDailyCost},
		#{joinInvestmentTotal},
		#{propSuportFee},
		#{logisticsSuportFee},
		#{renovationSuportFee},
		#{manageSalaryYear},
		#{otherSuportFee},
		#{companyInvestmentTotal},
		#{creator},
		sysdate(),
		#{updater},
		sysdate(),
		#{delFlag},
		#{def1},
		#{def2},
		#{def3},
		#{def4},
		#{def5},
		#{def6},
		#{def7},
		#{def8},
		#{def9},
		#{def10})
  </insert>
  <update id="updateInvestmentNonLaborCost" parameterType="com.stripcode.mybatis.sf.model.TSfEstInvestmentNonLaborCost" >
    UPDATE T_SF_EST_INVESTMENT_NON_LABOR_COST
    SET ROW_ID = #{rowId},
      INVESTMENT_ID = #{investmentId},
      STORE_INCOME_FIR = #{storeIncomeFir},
      STORE_INCOME_SEC = #{storeIncomeSec},
      STORE_INCOME_THI = #{storeIncomeThi},
      STORE_INCOME_FOUR = #{storeIncomeFour},
      STORE_INCOME_FIVE = #{storeIncomeFive},
      RENT_TYPE = #{rentType},
      RENT_MONTH_PER_SQUARE = #{rentMonthPerSquare},
      RENT_FIRST_YEAR = #{rentFirstYear},
      RENT_INC_RATE = #{rentIncRate},
      DEDUCTION_POINT_FIR_YEAR = #{deductionPointFirYear},
      RENT_CONTRACT_TERM = #{rentContractTerm},
      DEDUCTION_POINT_CONTRACT_TERM = #{deductionPointContractTerm},
      PROPERTY_FEE_MONTH = #{propertyFeeMonth},
      PROPERTY_FEE_YEAR = #{propertyFeeYear},
      BOTH_TAKE_HIGHT = #{bothTakeHight},
      RENT_START_DATE = #{rentStartDate},
      RENT_END_DATE = #{rentEndDate},
      RENT_YEARS = #{rentYears},
      OPEN_DATE = #{openDate},
      RENT_HALF_YEAR = #{rentHalfYear},
      LEASE_BOND = #{leaseBond},
      GOODS_BOND = #{goodsBond},
      RENOVATION_OTHER_FEE = #{renovationOtherFee},
      MGR_ANNUAL_SALARY = #{mgrAnnualSalary},
      SHOPPING_GUIDE_SALARY = #{shoppingGuideSalary},
      SPECIAL_POSITION_SALARY = #{specialPositionSalary},
      EST_STORE_DAILY_COST = #{estStoreDailyCost},
      JOIN_INVESTMENT_TOTAL = #{joinInvestmentTotal},
      PROP_SUPORT_FEE = #{propSuportFee},
      LOGISTICS_SUPORT_FEE = #{logisticsSuportFee},
      RENOVATION_SUPORT_FEE = #{renovationSuportFee},
      MANAGE_SALARY_YEAR = #{manageSalaryYear},
      OTHER_SUPORT_FEE = #{otherSuportFee},
      COMPANY_INVESTMENT_TOTAL = #{companyInvestmentTotal},
      CREATOR = #{creator},
      CREATE_TIME = #{createTime},
      UPDATER = #{updater},
      UPDATE_TIME = #{updateTime},
      DEL_FLAG = #{delFlag},
      DEF1 = #{def1},
      DEF2 = #{def2},
      DEF3 = #{def3},
      DEF4 = #{def4},
      DEF5 = #{def5},
      DEF6 = #{def6},
      DEF7 = #{def7},
      DEF8 = #{def8},
      DEF9 = #{def9},
      DEF10 = #{def10}
    where ROW_ID = #{rowId}
  </update>

  <select id="selectInvestmentNonLaborCost" resultType="com.stripcode.mybatis.sf.model.TSfEstInvestmentNonLaborCost" parameterType="java.lang.String" >
      SELECT
           T.ROW_ID,
          T.INVESTMENT_ID,
          T.STORE_INCOME_FIR,
          T.STORE_INCOME_SEC,
          T.STORE_INCOME_THI,
          T.STORE_INCOME_FOUR,
          T.STORE_INCOME_FIVE,
          T.RENT_MONTH_PER_SQUARE,
          T.RENT_FIRST_YEAR,
          T.RENT_INC_RATE,
          T.DEDUCTION_POINT_FIR_YEAR,
          T.RENT_CONTRACT_TERM,
          T.DEDUCTION_POINT_CONTRACT_TERM,
          T.PROPERTY_FEE_MONTH,
          T.PROPERTY_FEE_YEAR,
          T.BOTH_TAKE_HIGHT,
          RENT_START_DATE,
          RENT_END_DATE,
          T.RENT_TYPE,
          T3.MACRO_NAME RENT_TYPE_NAME,
          T.RENT_YEARS,
          T.OPEN_DATE,
          T.RENT_HALF_YEAR,
          T.LEASE_BOND,
          T.GOODS_BOND,
          T.RENOVATION_OTHER_FEE,
          T.MGR_ANNUAL_SALARY,
          T.SHOPPING_GUIDE_SALARY,
          T.SPECIAL_POSITION_SALARY,
          T.EST_STORE_DAILY_COST,
          T.JOIN_INVESTMENT_TOTAL,
          T.PROP_SUPORT_FEE,
          T.LOGISTICS_SUPORT_FEE,
          T.RENOVATION_SUPORT_FEE,
          T.MANAGE_SALARY_YEAR,
          T.OTHER_SUPORT_FEE,
          T.COMPANY_INVESTMENT_TOTAL,
          T.CREATOR,
          T.CREATE_TIME,
          T.UPDATER,
          T.UPDATE_TIME,
          T.DEL_FLAG,
          T.DEF1,
          T.DEF2,
          T.DEF3,
          T.DEF4,
          T.DEF5,
          T.DEF6,
          T.DEF7,
          T.DEF8,
          T.DEF9,
          T.DEF10
      FROM
          T_SF_EST_INVESTMENT_NON_LABOR_COST T
      LEFT JOIN t_code_macro_define T3 ON T.RENT_TYPE = T3.MACRO_CODE
    AND T3.MACRO_TYPE = 'RENT_TYPE'
    AND T3.DEL_FLAG = 'M0015'
      WHERE
          INVESTMENT_ID = #{investmentId}
          and T.DEL_FLAG = 'M0015'
  </select>
    <update id="deleteInvestmentId" parameterType="java.lang.String">
        UPDATE T_SF_EST_INVESTMENT_NON_LABOR_COST
        SET
        DEL_FLAG = 'M0014'
        WHERE INVESTMENT_ID = #{investmentId}
    </update>
</mapper>