<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stripcode.mybatis.cs.dao.CSNewBusinessFlanMapper">

    <select id="selectBusinessFlanByOptimauthId" parameterType="java.lang.String" resultType="com.stripcode.mybatis.cs.model.CSBusinessFlan">
       SELECT
            ROW_ID,
            OPTIMAUTH_ID,
            planClass,
            PP_ID,
            CN_SITENAME,
            storeCode,
            channelName,
            CHANNEL_TYPE,
            OPERATING_AREA,
            storeAddres,
            OPEN_DATE,
            SALES_Y1,
            SALES_Y1_INCRATE,
            SALES_Y2,
            SALES_Y2_INCRATE,
            SALES_Y3,
            SALES_Y3_INCRATE
        FROM
       (
        SELECT
        F.ROW_ID,
        F.OPTIMAUTH_ID,
        'M0047' AS planClass,
        pp.PP_ID,
        sp.CN_SITENAME,
        pp.NEW_STORE_CODE storeCode,
        T.MACRO_NAME channelName,
        sp.CHANNEL_TYPE,
        S.OPERATING_AREA,
        sp.ADDRESS_DETAIL storeAddres,
        E.EST_DATE OPEN_DATE,
        F.SALES_Y1,
        F.SALES_Y1_INCRATE,
        F.SALES_Y2,
        F.SALES_Y2_INCRATE,
        F.SALES_Y3,
        F.SALES_Y3_INCRATE
        FROM
        T_CS_CUSTOMER_PP pp
        LEFT JOIN T_CS_PLAN_SALES_TARGET F ON F.PP_ID = pp.PP_ID AND F.DEL_FLAG = 'M0015' AND F.PLAN_CLASS = 'M0047' AND F.OPTIMAUTH_ID = #{optimauthId}
        LEFT JOIN T_SF_PIPELINE sp ON sp.PP_ID = pp.PP_ID AND sp.DEL_FLAG = 'M0015'
        LEFT JOIN T_SF_SITEINFO S ON S.PP_ID = sp.PP_ID AND S.DEL_FLAG = 'M0015'
        LEFT JOIN T_SF_PROGRESS_EST E ON E.PP_ID = sp.PP_ID AND E.DEL_FLAG = 'M0015' AND E.TASK_CODE IN ('M0165','M0331')
        LEFT JOIN T_CODE_MACRO_DEFINE T ON sp.CHANNEL_TYPE = T.MACRO_CODE AND T.DEL_FLAG = 'M0015'
        <where>
            PP.OPTIMAUTH_ID = #{optimauthId}
            AND pp.DEL_FLAG = 'M0015'
        </where>

        UNION

        SELECT
        S.ROW_ID,
        S.OPTIMAUTH_ID,
        S.PLAN_CLASS,
        S.PP_ID,
        S.CN_SITENAME,
        S.STORE_CODE,
        T.MACRO_NAME channelName,
        S.CHANNEL_TYPE,
        S.OPERATING_AREA,
        S.STORE_ADDRES,
        S.OPEN_DATE,
        S.SALES_Y1,
        S.SALES_Y1_INCRATE,
        S.SALES_Y2,
        S.SALES_Y2_INCRATE,
        S.SALES_Y3,
        S.SALES_Y3_INCRATE
        FROM
        T_CS_PLAN_SALES_TARGET S
        LEFT JOIN T_CODE_MACRO_DEFINE T ON S.CHANNEL_TYPE = T.MACRO_CODE AND T.DEL_FLAG = 'M0015'
        <where>
            AND S.OPTIMAUTH_ID  =#{optimauthId}
            AND S.DEL_FLAG = 'M0015'
            AND S.PLAN_CLASS IN ('M0048','M0049','M0050','M0051')
        </where>
       ) T
        ORDER BY T.planClass
    </select>

    <update id="updateBusinessFlan" parameterType="com.stripcode.mybatis.cs.model.CSBusinessFlan">
        UPDATE
              T_CS_PLAN_SALES_TARGET
              SET
                  ROW_ID = #{rowId},
                  OPTIMAUTH_ID = #{optimauthId},
                  PLAN_CLASS = #{planClass},
                  PP_ID = #{ppId},
                  CN_SITENAME = #{cnSiteName},
                  CHANNEL_TYPE = #{channelType},
                  STORE_CODE = #{storeCode},
                  OPERATING_AREA = #{operatingArea},
                  STORE_ADDRES = #{storeAddres},
                  OPEN_DATE = #{openDate},
                  SALES_Y1 = #{salesY1},
                  SALES_Y1_INCRATE =#{salesY2Incrate},
                  SALES_Y2 = #{salesY2},
                  SALES_Y2_INCRATE = #{salesY2Incrate},
                  SALES_Y3 = #{salesY3},
                  SALES_Y3_INCRATE = #{salesY3Incrate},
                  UPDATER = #{updater},
                  UPDATE_TIME = sysdate()
        WHERE OPTIMAUTH_ID  =#{optimauthId} AND ROW_ID = #{rowId} AND DEL_FLAG = 'M0015'
    </update>
    <insert id="insertBusinessFlan" parameterType="com.stripcode.mybatis.cs.model.CSBusinessFlan">
        INSERT INTO
                    T_CS_PLAN_SALES_TARGET(
                          ROW_ID,
                          OPTIMAUTH_ID,
                          PLAN_CLASS,
                          PP_ID,
                          CN_SITENAME,
                          CHANNEL_TYPE,
                          STORE_CODE,
                          OPERATING_AREA,
                          STORE_ADDRES,
                          OPEN_DATE,
                          <if test='salesY1!=null and salesY1 != ""'>
                              SALES_Y1,
                          </if>
                          <if test='salesY1Incrate !=null and salesY1Incrate!=""'>
                              SALES_Y1_INCRATE,
                          </if>
                          <if test='salesY2 != null and salesY2 !=""'>
                              SALES_Y2,
                          </if>
                          <if test='salesY2Incrate !=null and salesY2Incrate!=""'>
                              SALES_Y2_INCRATE,
                          </if>
                          <if test='salesY3 != null and salesY3 != ""'>
                              SALES_Y3,
                          </if>
                          <if test='salesY3Incrate !=null and salesY3Incrate!=""'>
                              SALES_Y3_INCRATE,
                          </if>
                          CREATOR,
                          CREATE_TIME,
                          UPDATER,
                          UPDATE_TIME,
                          DEL_FLAG
                    )VALUES (
                          #{rowId},
                          #{optimauthId},
                          #{planClass},
                          #{ppId},
                          #{cnSiteName},
                          #{channelType},
                          #{storeCode},
                          #{operatingArea},
                          #{storeAddres},
                          #{openDate},
                          <if test='salesY1!=null and salesY1 != ""'>
                              #{salesY1},
                          </if>
                          <if test='salesY1Incrate !=null and salesY1Incrate!=""'>
                              #{salesY1Incrate},
                          </if>
                          <if test='salesY2 != null and salesY2 !=""'>
                              #{salesY2},
                          </if>
                          <if test='salesY2Incrate !=null and salesY2Incrate!=""'>
                              #{salesY2Incrate},
                          </if>
                          <if test='salesY3 != null and salesY3 != ""'>
                              #{salesY3},
                          </if>
                          <if test='salesY3Incrate !=null and salesY3Incrate!=""'>
                              #{salesY3Incrate},
                          </if>
                          #{creator},
                          sysdate(),
                          #{updater},
                          sysdate(),
                          'M0015'
                    )
    </insert>

    <select id="isExists" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT COUNT(0) FROM T_CS_PLAN_SALES_TARGET WHERE ROW_ID = #{rowId} AND DEL_FLAG = 'M0015'
    </select>

    <update id="updateBusinessDelFlag">
        UPDATE T_CS_PLAN_SALES_TARGET SET DEL_FLAG = 'M0014'
        WHERE ROW_ID NOT IN
        <foreach collection="rowId" item="rowId" index="index"
                 open="(" close=")" separator=",">
                    #{rowId}
        </foreach>
        AND OPTIMAUTH_ID = #{optimauthId} AND DEL_FLAG = 'M0015'
    </update>

    <select id="selectPlanInvestByOptimauthId" parameterType="java.lang.String" resultType="com.stripcode.mybatis.cs.model.CSPlanInvestment">
        SELECT
                ROW_ID,
                OPTIMAUTH_ID,
                INVEST_FUNDS,
                COST_BACK,
                OTHER_BRAND,
                MKT_VOLUME_SALES,
                MB_MAX_ACH_SALES,
                CUSTOMER_FUNDS
        FROM
            T_CS_PLAN_INVESTMENT
        WHERE
              OPTIMAUTH_ID = #{optimauthId} AND DEL_FLAG = 'M0015'
    </select>

    <insert id="insertPlanInvestment" parameterType="com.stripcode.mybatis.cs.model.CSPlanInvestment">
        INSERT INTO
        T_CS_PLAN_INVESTMENT(
              ROW_ID,
              OPTIMAUTH_ID,
              INVEST_FUNDS,
              COST_BACK,
              OTHER_BRAND,
              MKT_VOLUME_SALES,
              MB_MAX_ACH_SALES,
              CUSTOMER_FUNDS,
              CREATOR,
              CREATE_TIME,
              UPDATER,
              UPDATE_TIME,
              DEL_FLAG
        )VALUES (
              #{rowId},
              #{optimauthId},
              #{investFunds},
              #{costBack},
              #{otherBrand},
              #{mktVolumeSales},
              #{mbMaxAchSales},
              #{customerFunds},
              #{creator},
              sysdate(),
              #{updater},
              sysdate(),
              'M0015'
        )
    </insert>

    <update id="updatePlanInvestment" parameterType="com.stripcode.mybatis.cs.model.CSPlanInvestment">
        UPDATE T_CS_PLAN_INVESTMENT
          SET
             INVEST_FUNDS = #{investFunds},
             COST_BACK = #{costBack},
             OTHER_BRAND = #{otherBrand},
              MB_MAX_ACH_SALES= #{mbMaxAchSales},
              MKT_VOLUME_SALES = #{mktVolumeSales},
              CUSTOMER_FUNDS = #{customerFunds},
             UPDATER = #{updater},
             UPDATE_TIME = sysdate()
         WHERE
              OPTIMAUTH_ID = #{optimauthId} AND ROW_ID = #{rowId} AND DEL_FLAG = 'M0015'
    </update>

    <select id="selectBusinessFlanList" parameterType="java.lang.String" resultType="com.stripcode.mybatis.cs.model.CSBusinessFlan">
        SELECT
            A.CN_SITENAME,
            T.MACRO_NAME channelType,
            A.OPEN_DATE,
            A.STORE_ADDRES,
            A.OPERATING_AREA,
            A.PLAN_CLASS,
            A.SALES_Y1,
            A.SALES_Y2,
            A.SALES_Y2_INCRATE,
            A.SALES_Y3,
            A.SALES_Y3_INCRATE
        FROM
            T_CS_PLAN_SALES_TARGET A
            LEFT JOIN T_CODE_MACRO_DEFINE T ON A.CHANNEL_TYPE = T.MACRO_CODE AND T.MACRO_TYPE = 'CHANNEL_TYPE' AND T.DEL_FLAG = 'M0015'
        <where>
            A.OPTIMAUTH_ID = #{optimauthId}
            AND A.DEL_FLAG = 'M0015'
        </where>
    </select>
</mapper>