<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stripcode.mybatis.message.dao.PosMapper">

	<insert id="insertPayment" parameterType="com.stripcode.mybatis.message.model.PosPayment">
	  INSERT INTO
		POS_PAYMENT(autoNo,ORDERID,IDX,PAYMENTTYPE,PAYMENTCODE,PAYMENTNAME,AMOUNT,COUNT,COMMENTS,EXAMOUNT,ACTUALAMOUT,PRICE)
		VALUES
		(#{autoNo},#{orderId},#{index},#{paymentType},#{paymentCode},#{paymentName},#{amount},#{count},#{memberNo},#{exAmount},#{actualAmount},#{price});
	</insert>
	
</mapper>